body {background-color:	#21C900;}

p {text-align:center;
font-size:40px; color:#fffff;font-family:calibri;padding-top: 50px;}

 
	
	a, a:link{font-size:25px;
	display:block;
	text-decoration:none;
	color:black;
	text-align:center;
    
	background-color: #FFFFFF;}
	


	#nav {
	width: 100%;
	float: left;
	padding: 40px;
	list-style: none;
  border-top: 1px solid #698F95;
    margin: 0px auto;
}
    
#nav li a {
  text-align:center;
  float: left;
  display: block;
	padding: 20px 73px;
	text-decoration: none;
	font-weight: bold;
  font-family: calibri;
	color: #069;
	border-right: 1px solid #698F95; }

#nav li a:hover {
	color: #000;
  font-family:calibri;
	background-color: #fff; display: flex;
  justify-content: space-around;}
	
	
	.ourmission 
{text-indent:50px; font-size:25px; margin:40px;padding-top:40px;
font-family:calibri; color:black; text-align:left;}




body
{
  margin: 0;
  text-
  padding: 0;
  background: #8FBDCB;
}

h1
{
  text-align: center;
  margin: 0px, 0 0 0px;
  padding: 0;
  font-family: calibri;
  
  color: #fff;
  font-size: 5em;
}
  

h2
{
  margin: 200px 0 0 0px;
  padding: 0;
  font-family: calibri;
  color: #fff;
  font-size: 3em;
}
span:before
{
  content: 'BRAVE';
  animation: animate infinite 8s
}
@keyframes animate
{
  0%
  {
    content: 'BRAVE';
  }
  25%
  {
    content: 'STRONG';
  }
  50%
  {
    content: 'INTELLIGENT';
  }
  75%
  {
    content: 'GAMERS';
  }
  100%
  {
    content: 'CODERS';
  }
}